@model CarToGo.Models.Car

@{
    ViewData["Title"] = "Details";
    var imageName = Model.Brand.ToLower() + ".png";
    var imageUrl = "/images/cars/" + imageName;
    var returnUrl = ViewBag.ReturnUrl ?? "Cars";
}

<section class="section">
    <div class="container px-4">
        <div class="row">
            <div class="col-lg-8">
                <h1>@Model.Brand @Model.Model</h1>
                <p class="lead">@Model.Description</p>
                <dl class="row">
                    <dt class="col-sm-3">Year</dt>
                    <dd class="col-sm-9">@Model.Year</dd>
                    <dt class="col-sm-3">Seats</dt>
                    <dd class="col-sm-9">@Model.Seats</dd>
                    <dt class="col-sm-3">Price per Day</dt>
                    <dd class="col-sm-9">@string.Format("{0:0.00} €", Model.PricePerDay)</dd>
                </dl>
                <div class="mt-4">
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
                    }
                    @if (returnUrl == "AvailableCars")
                    {
                        <a asp-controller="Reservations" asp-action="AvailableCarsBack" class="btn btn-outline-light ms-2">Back to Reservations</a>
                    }
                    else
                    {
                        <a asp-action="Index" class="btn btn-outline-light ms-2">Back to List</a>
                    }
                </div>
            </div>
            <div class="col-lg-4">
                <div class="fleet-card-image">
                    <img src="@imageUrl" alt="@Model.Brand @Model.Model" />
                </div>
            </div>
        </div>
    </div>
</section>
